header {
    width: 100%;
    height: 60px;
    background-color: #212328;
}
.banner_publicitario {
    width: 100%;
    height: 492px;
    background-color: black;
}
.nombres_banner_publicitario {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    max-width: 1050px;
    height: 60px;
}